<div class="books">
  <h2 class="title">课程</h2>
  <div class="current-book bookshelf">
    <h3 class="current-book-title bookshelf-title">正在学习</h3>
    <div class="current-book-body bookshelf-body"></div>
  </div>
  <div class="bookselves"></div>
  <div class="modal fade" id="changeBook">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">选择完成日期</h4>
        </div>
        <div class="modal-body">
          <div id="datepicker"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" id="save">保存</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>